<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <header>
            <div>
                <a href="/">Home</a>
                <a href="https://google.com">google.com</a>
                <a href="noreply@sample.domain.com">noreply@sample.domain.com</a>
                <a href="https://github.com/c869391/gh-test/">view on github</a>
            </div>
        </header>
    </div>
	<div>
	{% for p in site.pages %}
        <li>
        	<a href="/gh-test{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %}
	</div>
    <div>
        {{ content }}
    </div>
</body>
</html>
